// ############################################################
// ###   ###  Alt-centered configuration for Zellij  ###   ####
// ############################################################
// - 1 prefix key (Alt) for most common actions in normal mode
// - Less common actions require switching mode or are removed
// - Press escape, enter or space to switch back to normal mode
// - Press Alt-q for quitting and Alt-d for detaching
//
// To access other modes from normal mode press
// 1. Alt-r for resize, 2. Alt-p for pane,
// 3. .. move, 4. .. tab, 5. .. scroll,
// 6. in scroll mode s to type text, 7. enter to search.
//
// Run `zellij setup --check` for troubleshooting and inspecting
// current config locations and features that are enabled.

keybinds {
    
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
on_force_close "quit"
// Request simplified ui (without arrow fonts) of plugins
simplified_ui true
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//default_shell "fish"
// remove pane frame
pane_frames false
// Choose the theme that is specified in the themes section.
// Default: default
theme "default"
// The name of the default layout to load on startup
// Default: "default"
default_layout "compact"
// On certain configurations, or terminals mouse_mode can interfere with copying text.
mouse_mode true
// 100_000 should never exceed 6MB per shell pane, unless the lines are very long
scroll_buffer_size 100000
// Command to execute when copying text. Text will be piped to stdin of program
// to perform copy. Can be used with terminal emulators which do not support
// OSC 52 ANSI control sequence (used on default without this option).
//copy_command "xclip -selection clipboard" // x11
//copy_command "wl-copy"                    // wayland
//copy_command "pbcopy"                     // osx
// Choose the destination for copied text (x11/wayland only), if copy_command not set
// Options:
//   - system (default)
//   - primary
//copy_clipboard "primary"
// Is automatic copy (and clear) of selection when releasing mouse enabled?
// Default true
//copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//scrollback_editor "/usr/bin/vim"
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//mirror_session true
// The folder in which Zellij will look for layouts
//layout_dir /path/to/my/layout_dir
// The folder in which Zellij will look for themes
//theme_dir "/path/to/my/theme_dir"
